* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #84e6ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    color: gold;
    text-shadow: 4px 4px 8px #000;
    font-family: "Bungee", sans-serif;
    font-size: 20pt;
}

h3, p {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

input {
    align-items: center;
    justify-content: center;
    background-color: #a046f5;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 14pt;
    text-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #070606;
}

input:hover {
    background-color: cornflowerblue;
}

main {
    flex-grow: 2;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-family: Helvetica;
    font-size: 15pt;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: inline-block;
    }
    header {
        text-align: center;
        font-size: 18pt;
    }
    main {
        padding: 20px;
    }
    footer {
        justify-content: end;
    }
}

/* I noticed that window sizes between 888px and 754px don't center the header - do I need to account for EVERY possible window size scenario? */

@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: inline-block;
    }
    header {
        text-align: center;
        font-size: 12pt;
    }
    main {
        padding: 20px;
    }
    footer {
        justify-content: end;
    }
}