* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #84e6ff;
    background-image: linear-gradient(to bottom right, #84e6ff, #745cfc);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    color: #e7c817;
    text-shadow: 4px 4px 8px #000;
    font-family: "Bungee", sans-serif;
    font-size: 20pt;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

div {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

#min, #max {
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    color: #311da5;
    font-weight: bold;
}

#button {
    align-items: center;
    justify-content: center;
    background-color: #a046f5;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 14pt;
    text-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #070606;
}

#button:hover {
    background-color: #2d4f8f;
    box-shadow: 0 10px 14px 0 #070606;
}

#button:active {
    background-color: #a046f5;
    box-shadow: 0 2px #070606;
    transform: translateY(2px);
}

main {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 20px;
    line-height: 1.6;
    flex-grow: 2;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: 16pt;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-size: 15pt;
    font-family: Helvetica;
    line-height: normal;
}

@media screen and (max-width: 768px){
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: inline-block;
        background-repeat: no-repeat;
        width: 768px;
    }
    header {
        overflow-wrap: break-word;
    }
    div {
        display: inline-block;
    }
    main {
        padding: 20px;
    }
    footer {
        justify-content: end;
    }
}

/* I noticed that window sizes between 888px and 754px don't center the header - do I need to account for EVERY possible window size scenario? */

@media only screen and (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        overflow-wrap: break-word;
    }
    div {
        justify-content: space-between;
    }
    main {
        padding: 20px;
    }
    footer {
        justify-content: end;
    }
}